*
{
  
  font-family: Arial, Sans-Serif;
}

body
{
 
  margin: 0;
  background-color: #cccccc;
}

a
{
  
  text-decoration: none;
  color: #0760B2;
}

  a:hover
  {

    text-decoration: underline;
  }

h1
{

  font-size: 20px;
}

h2
{

  font-size: 14px;
  color: #7773A1;
  margin-top: 10px;
}

p
{
    font-size: 14px;
}

#ContentWrapper
{

  width: 844px;
  background-color: #cccccc;
  margin: auto;
}

header
{
  /*
    Gives the header the same width as the PageWrapper. The height creates some room for the logo
    that is set with the background-image.
  */
  width: 844px;
  height: 86px;
}

  header a
  {

    width: 844px;
    height: 86px;
    display: block;
  }

nav
{
 
  width: 827px;
  height: 36px;
  padding-top: 7px;
  padding-left: 17px;
}

  nav a
  {   
    color: #fff;
  }

section#MainContent
{

  font-size: 0.8em;
  width: 550px;
  border-left: 1px solid white;
  border-right: 2px solid white;
  float: right;
  background-color: #e1e1e1;
  min-height: 500px;
  padding: 10px;
}

aside#Sidebar
{
 
  font-size: 0.8em;
  color: White;
  width: 265px;
  min-height: 500px;
  background-color:bisque;
  float: left;
}

footer
{

  width: 844px;
  clear: both;
  height: 37px;
  background-color: #A8D5FE;
  color: White;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 37px;
}






